<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Action</key>
	<dict>
		<key>1</key>
		<array>
			<string>White House Down</string>
			<string>Channing Tatum, Jamie Foxx</string>
			<string>z4l7OZLIh9w</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>Oblivion</string>
			<string>Tom Cruise, Morgan Freeman, Andrea Riseborough</string>
			<string>tXmjr1lUrmU</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>Captain Phillips</string>
			<string>Tom Hanks, Barkhad Abdi</string>
			<string>D36VztJ8oaQ</string>
			<string>PG-13</string>
		</array>
		<key>4</key>
		<array>
			<string>A Good Day to Die Hard</string>
			<string>Bruce Willis, Jai Courtney, Sebastian Koch</string>
			<string>bC7W7wE_XLY</string>
			<string>R</string>
		</array>
	</dict>
	<key>Adventure</key>
	<dict>
		<key>1</key>
		<array>
			<string>The Hunger Games: Catching Fire</string>
			<string>Jennifer Lawrence, Josh Hutcherson</string>
			<string>EAzGXqJSDJ8</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>The Wolverine</string>
			<string>Hugh Jackman, Will Yun Lee, Tao Okamoto</string>
			<string>u7HaO0_rs1Q</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>The Lone Ranger</string>
			<string>Johnny Depp, Armie Hammer</string>
			<string>LoVhgaj6PiE</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Animation</key>
	<dict>
		<key>1</key>
		<array>
			<string>Frozen</string>
			<string>Kristen Bell, Idina Menzel, Jonathan Groff</string>
			<string>FLzfXQSPBOg</string>
			<string>PG</string>
		</array>
		<key>2</key>
		<array>
			<string>Despicable Me 2</string>
			<string>Steve Carell, Kristen Wiig</string>
			<string>GdDxyxan3Y4</string>
			<string>PG</string>
		</array>
		<key>3</key>
		<array>
			<string>Cloudy with a Chance of Meatballs 2</string>
			<string>Bill Hader, Anna Faris, Neil P. Harris</string>
			<string>dZCBESA0-Sg</string>
			<string>PG</string>
		</array>
		<key>4</key>
		<array>
			<string>Monsters University</string>
			<string>Billy Crystal, John Goodman, Steve Buscemi</string>
			<string>xBzPioph8CI</string>
			<string>G</string>
		</array>
	</dict>
	<key>Comedy</key>
	<dict>
		<key>1</key>
		<array>
			<string>The Hangover Part III</string>
			<string>Bradley Cooper, Zach Galifianakis, Ed Helms</string>
			<string>I4WKsLX1TGw</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Enough Said</string>
			<string>Julia Louis-Dreyfus, James Gandolfini</string>
			<string>nEEJaIjF_Lo</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>Identity Thief</string>
			<string> Jason Bateman, Melissa McCarthy, John Cho</string>
			<string>uO12W35DpsQ</string>
			<string>R</string>
		</array>
	</dict>
	<key>Crime</key>
	<dict>
		<key>1</key>
		<array>
			<string>The Counselor</string>
			<string>Michael Fassbender, Penélope Cruz, Cameron Diaz</string>
			<string>n4rTztvVx8E</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Now You See Me</string>
			<string>Jesse Eisenberg, Mark Ruffalo, Woody Harrelson</string>
			<string>4OtM9j2lcUA</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>The Heat</string>
			<string>Sandra Bullock, Michael McDonald, Melissa McCarthy</string>
			<string>d7QwndbyfTg</string>
			<string>R</string>
		</array>
	</dict>
	<key>Documentary</key>
	<dict>
		<key>1</key>
		<array>
			<string>Birth of the Living Dead</string>
			<string>Larry Fessenden, Mark Harris, Gale Anne Hurd</string>
			<string>6h3TBcQ52lY</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Romeo and Juliet</string>
			<string>Hailee Steinfeld, Douglas Booth, Paul Giamatti</string>
			<string>C6AN7A9jOiE</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>I Am</string>
			<string>Tom Shadyac, Desmond Tutu, Noam Chomsky</string>
			<string>iYtfnONazTU</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Drama</key>
	<dict>
		<key>1</key>
		<array>
			<string>12 Years a Slave</string>
			<string>Chiwetel Ejiofor, Michael Fassbender, Brad Pitt</string>
			<string>NYYtS9KSWNg</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Rush</string>
			<string>Chris Hemsworth, Daniel Brühl, Olivia Wilde</string>
			<string>dA3XN54J8nY</string>
			<string>R</string>
		</array>
		<key>3</key>
		<array>
			<string>Shame</string>
			<string>Michael Fassbender, Carey Mulligan, James Badge Dale</string>
			<string>24cjqfVv1fs</string>
			<string>NC-17</string>
		</array>
		<key>4</key>
		<array>
			<string>Blue Is The Warmest Color</string>
			<string>Léa Seydoux, Adèle Exarchopoulos, Salim Kechiouche</string>
			<string>Ixuu3sT2Shw</string>
			<string>NC-17</string>
		</array>
		<key>5</key>
		<array>
			<string>The Night Buffalo</string>
			<string>Diego Luna, Liz Gallardo, Gabriel González</string>
			<string>n_dgsThDdvg</string>
			<string>NC-17</string>
		</array>
	</dict>
	<key>Family</key>
	<dict>
		<key>1</key>
		<array>
			<string>Oz: The Great and Powerful</string>
			<string>James Franco, Mila Kunis, Rachel Weisz</string>
			<string>DylgNj4YQVc</string>
			<string>PG</string>
		</array>
		<key>2</key>
		<array>
			<string>Percy Jackson: Sea of Monsters</string>
			<string>Logan Lerman, Sean Bean, Nathan Fillion</string>
			<string>w6aYjbpBm-E</string>
			<string>PG</string>
		</array>
		<key>3</key>
		<array>
			<string>Family Weekend</string>
			<string>Kristin Chenoweth, Matthew Modine, Olesya Rulin</string>
			<string>dS-TpNKVrtw</string>
			<string>R</string>
		</array>
	</dict>
	<key>Fantasy</key>
	<dict>
		<key>1</key>
		<array>
			<string>Iron Man 3</string>
			<string>Robert Downey Jr., Guy Pearce, Gwyneth Paltrow</string>
			<string>oYSD2VQagc4</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>Man of Steel</string>
			<string>Henry Cavill, Amy Adams, Michael Shannon</string>
			<string>T6DJcgm3wNY</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>The Mortal Instruments: City of Bones</string>
			<string>Aidan Turner, Lena Headey, Lily Collins</string>
			<string>UuE4VJqWNrs</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Horror</key>
	<dict>
		<key>1</key>
		<array>
			<string>The Conjuring</string>
			<string>Vera Farmiga, Patrick Wilson, Lili Taylor</string>
			<string>k10ETZ41q5o</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Carrie</string>
			<string>Chloe Moretz, Julianne Moore, Judy Greer</string>
			<string>3CM0nyc5mf4</string>
			<string>R</string>
		</array>
		<key>3</key>
		<array>
			<string>Mama</string>
			<string>Jessica Chastain, Nikolaj Coster-Waldau, Megan Charpentier</string>
			<string>R2nwknMmvdc</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Musical</key>
	<dict>
		<key>1</key>
		<array>
			<string>Mamma Mia!</string>
			<string>Meryl Streep, Pierce Brosnan, Colin Firth</string>
			<string>lkN-A00WLYE</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>Les Misérables</string>
			<string>Hugh Jackman, Russell Crowe, Anne Hathaway</string>
			<string>0r8F3_Pvw3g</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Mystery and Suspense</key>
	<dict>
		<key>1</key>
		<array>
			<string>Prisoners</string>
			<string>Hugh Jackman, Jake Gyllenhaal</string>
			<string>KWhS0xN3C0g</string>
			<string>R</string>
		</array>
		<key>2</key>
		<array>
			<string>Gravity</string>
			<string>Sandra Bullock, George Clooney</string>
			<string>OiTiKOy59o4</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>Crash</string>
			<string>James Spader, Holly Hunter, Elias Koteas</string>
			<string>1XlDp3DLHxc</string>
			<string>NC-17</string>
		</array>
	</dict>
	<key>Romance</key>
	<dict>
		<key>1</key>
		<array>
			<string>The Great Gatsby</string>
			<string>Leonardo DiCaprio, Tobey Maguire, Carey Mulligan</string>
			<string>rARN6agiW7o</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>Love Is All You Need</string>
			<string>Pierce Brosnan, Trine Dyrholm, Molly B. Egelind</string>
			<string>YsKHRubXPt8</string>
			<string>R</string>
		</array>
		<key>3</key>
		<array>
			<string>Before Midnight</string>
			<string>Ethan Hawke, Julie Delpy</string>
			<string>Kv6JWoVKlGY</string>
			<string>R</string>
		</array>
	</dict>
	<key>Science Fiction</key>
	<dict>
		<key>1</key>
		<array>
			<string>Star Trek Into Darkness</string>
			<string>Chris Pine, Zachary Quinto, Zoe Saldana</string>
			<string>mdgRx94W5ko</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>After Earth</string>
			<string>Jaden Smith, David Denman, Will Smith</string>
			<string>PRln879ol50</string>
			<string>PG-13</string>
		</array>
		<key>3</key>
		<array>
			<string>Pacific Rim</string>
			<string>Idris Elba, Charlie Hunnam, Rinko Kikuchi</string>
			<string>BeEkAnCesxw</string>
			<string>PG-13</string>
		</array>
		<key>4</key>
		<array>
			<string>Thor: The Dark World</string>
			<string>Chris Hemsworth, Natalie Portman</string>
			<string>ogMS8ghXWrs</string>
			<string>PG-13</string>
		</array>
	</dict>
	<key>Thriller</key>
	<dict>
		<key>1</key>
		<array>
			<string>World War Z</string>
			<string>Brad Pitt, Mireille Enos, Daniella Kertesz</string>
			<string>Md6Dvxdr0AQ</string>
			<string>PG-13</string>
		</array>
		<key>2</key>
		<array>
			<string>Side Effects</string>
			<string>Rooney Mara, Channing Tatum, Jude Law</string>
			<string>-6-p-_XCpWQ</string>
			<string>R</string>
		</array>
		<key>3</key>
		<array>
			<string>Escape Plan</string>
			<string>Sylvester Stallone, Arnold Schwarzenegger, James Caviezel</string>
			<string>f8jMf8KF8wg</string>
			<string>R</string>
		</array>
	</dict>
</dict>
</plist>
